html {
    margin: 0;
    padding: 0;
}

body {
    background: #313131;
}

* {
    box-sizing: border-box;
}

.calculator {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 280px;
    margin: 50px auto;
    padding: 10px 10px;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0 0 5px #999999;
}

.screen {
    border-radius: 40px;
    width: 100%;
    min-height: 100px;
    text-align: right;
    font-size: 24px;
    padding: 10px;
    padding-top: 20px;
    border-top: 2px solid rgb(255, 126, 5);
    border-right: 1px rgb(0, 0, 0);
    border-bottom: rgb(221, 221, 221);
    border-left: 1px solid rgb(0, 0, 0);
    padding: 10px 20px;
    color: rgb(255, 255, 255);
}

.cal-buttons {
    background-color: rgba(0, 0, 0, 0.5);
    padding: auto;
}

ul#buttons {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul#buttons li {
    font-size: 24px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    width: 20%;
    margin: 5px 2.5%;
    padding-top: 11px;
    height: 50px;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s;
    border: 1px solid whi;
}

ul#buttons li:hover,
ul#buttons li:visited {
    background: #777777;
    color: #ffffff;
}

ul#buttons li:active {
    background: #000000;
}

li#equals {}

li#clear {
    width: 100% !important;
    border-radius: 10px !important;
}